::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 150%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: -1%;
  color: white;
}

h2 {
  font-size: 90%;
  text-align: center;
  color: rgb(231, 231, 231);
}
h3 {
  font-size: 70%;
  display: inline;
  position: absolute;
  right: 20px;
  bottom: 4px;
  color: rgb(216, 216, 216);
}

h4 {
  font-size: 70%;
  display: inline;
  position: relative;
  right: -5px;
  color: rgb(216, 216, 216);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}
.logo {
  z-index: 2;
}

.ph {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.gray {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  opacity: 0.7;
  background: linear-gradient(to top, #000, #000);
}
